*.qsf
*.vo
*.wlf
*.xrf
*.do
*.sdo
*.bak
*.rpt
*.sft
*.csd
*.qdb
*.qtl
*.ini
*.inc
*.do*
*/msim_transcript
*/_vmake
*.bak*
*.qip
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.qpg
*_info
*_transcript
*_dump.txt
*.mif
greybox_tmp/
output_files/
incremental_db/
db/
simulation/modelsim/*
!simulation/modelsim/*.vt

